<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueMVCCore</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/dist/css/app.css" rel="stylesheet" />
    
</head>
<body>
    @RenderBody()
    <script src="~/dist/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
